// app global css in SCSS form
body {
  font-family: 'inter', sans-serif;
}
p {
  margin: 0;
}
.body--light {
  background-color: $less-light;
  color: $dark;
}
.body--dark {
  background-color: $dark;
  color: $light;
}
.dark {
  background-color: $dark;
  color: $light;

}
.light {
  background-color: $light;
  color: $dark;
  
}
hr {
  border: none;
  border-top: 1px solid $secondary;
  margin: 0.5rem 0;
}
.page-title {
  width: 100%;
  max-width: 60rem;
  span {
    font-size: 1.25rem;
    font-weight: 700;
  }
  small {
    align-self: flex-end;
    font-size: 0.7rem;
    font-weight: 500;
    margin-left: 0.5rem;
  }
  &::after {
    content: '';
    display: block;
    height: 0.15rem;
    width: 100%;
    background: linear-gradient(15deg, $primary, $accent);
    margin: 0.25rem 0 0.25rem 0;
  }
}
.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}
.accent-gradient {
  background: linear-gradient(45deg, $accent, $primary);
}
