$primary   : #b027a9;
$secondary : #80808050;
$accent    : #1ff5e3;
$light     : #f8f9fa;
$less-light: #f7f6f7;

$dark      : #1D1D1D;
$dark-page : #363636;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$media-width: 450px;
