$primary   : #b027a9;
$primary-10: #eaa6df10;
$primary-50: #8a2d7a85;
$primary-dark: #8e1f82;
$secondary : #80808050;
$accent    : #1ff5e3;
$accent-dark    : #16a4ac;
$accent-10 : #b2fffe10;
$accent-50 : #25868585;
$light     : #f8f9fa;
$less-light: #f7f6f7;

$dark      : #1D1D1D;
$dark-page : #363636;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$info-50   : #1a738585;
$warning   : #F2C037;

$media-width: 450px;
$content-width: 30rem;